# LLM에게 질문 하시면 어떤 것을 넣어야할지 알려줄 겁니다!!
# 이번주도 고생하셨고, 다음주 미니 프로젝트 화이팅 해봅시다!!

.env

# 오 이거 양쪽 다 추가하기도 가능!!! 근데 .env 제가 쓴게 맞나요...? 왜.. .기억에... 없지.....
# 그건 바로 제가 했기 때문이죠!!

# 오 메인에서 pull 안했더니 이거  vscode에서 업뎃 안되어있어요! 착각...이겠죠,...